<a href="https://colab.research.google.com/github/RafaelCaballero/Julio24/blob/main/code/proyecto1_sol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducción a la ciencia de datos con Python

## Proyecto 1

1) Descargar localmente el fichero

https://www.imf.org/-/media/Files/Publications/WEO/2022/April/English/text.ashx
Grabarlo con el nombre focus.pdf

In [5]:
import requests

url = "https://www.imf.org/-/media/Files/Publications/WEO/2022/April/English/text.ashx"
nombre = "focus.pdf"
r = requests.get(url) # el fichero queda en la variable r

if r.status_code == 200:
  with open(nombre, 'wb') as f:
    f.write(r.content) # ahora lo grabamos localmente
else:
  print(r.status_code)

True

2) Descargar la tabla que ocupa la posición 7ª (notación [6], recordar que la primera es la [0] ) de la tabla

https://www.expansion.com/mercados/cotizaciones/indices/ibex35_I.IB.html

Tras cargar esta tabla en un dataframe df de pandas:

1)	Mostrarla con un gradiente de colores para ver los valores más altos

In [10]:
import pandas as pd
url = "https://www.expansion.com/mercados/cotizaciones/indices/ibex35_I.IB.html"
df_list = pd.read_html(url,encoding="utf-8")
df = df_list[6]
display(df)
display(df.style.background_gradient(cmap='YlOrRd'))

,Valor,Último,Var. %,Var.,Ac. % año,Máx.,Mín.,Vol.,Capit.,Hora,Unnamed: 10
0,ACCIONA,106000,-203,-220,-2048,108000,104800,118.318,5.815,17:23,NaN
1,ACCIONA ENER,19060,-290,-57,-3050,19650,19060,250.794,6.276,17:23,NaN
2,ACERINOX,9750,-10,-1,-558,9845,9705,380.601,2.638,17:19,NaN
3,ACS,38380,-52,-20,-334,38580,37660,462.026,10.426,17:24,NaN
4,AENA,187300,-48,-90,1916,188200,185000,106.054,28.095,17:24,NaN
5,AMADEUS IT GROUP,61860,23,14,-399,61960,60860,154.300,27.868,17:24,NaN
6,ARCELORMITTAL,21120,-85,-18,-1705,21320,21060,127.477,18.539,17:23,NaN
7,BANCO SABADELL,1814,-203,-4,6648,1850,1790,5.529.233,9.869,17:24,NaN
8,BANKINTER,7592,-133,-10,3502,7718,7540,1.018.911,6.824,17:23,NaN
9,BBVA,9382,-124,-12,1824,9452,9266,2.983.066,54.071,17:24,NaN
10,CAIXABANK,4993,-101,-5,4572,5036,4958,2.763.681,36.290,17:24,NaN
11,CELLNEX TELECOM,30710,-26,-8,-1385,30900,30520,400.544,20.862,17:23,NaN
12,COLONIAL,5480,-27,-1,-1243,5505,5430,538.168,2.957,17:21,NaN
13,ENAGAS,12810,-191,-25,-1608,13100,12800,2.228.482,3.356,17:24,NaN
14,ENDESA,17740,-42,-8,-130,17775,17535,254.584,18.782,17:24,NaN
15,FERROVIAL,36260,-55,-20,981,36340,35800,389.294,27.028,17:23,NaN
16,FLUIDRA,19220,-67,-13,356,19300,19010,131.121,3.760,17:23,NaN
17,GRIFOLS,7986,-172,-14,-4833,8152,7950,1.800.923,3.403,17:24,NaN
18,IAG,1947,80,2,932,1972,1914,6.342.289,9.679,17:24,NaN
19,IBERDROLA,12190,-106,-13,444,12295,12175,2.866.541,78.300,17:23,NaN
20,INDITEX,45270,-137,-63,1680,45670,44630,1.019.611,141.091,17:23,NaN
21,INDRA,18920,-267,-52,3514,19480,18720,282.233,3.342,17:23,NaN
22,LOGISTA,26520,-15,-4,1398,26640,26280,85.824,3.521,17:19,NaN
23,MAPFRE,2120,-239,-5,1344,2162,2120,1.498.661,6.529,17:24,NaN
24,MELIÁ HOTELS,7610,-130,-10,2768,7685,7530,294.558,1.677,17:24,NaN
25,MERLIN PROP.,10500,48,5,665,10510,10310,313.417,4.933,17:24,NaN
26,NATURGY,20420,-126,-26,-2287,20660,20420,351.853,19.800,17:23,NaN
27,REDEIA,16090,-159,-26,1479,16400,16050,414.243,8.706,17:23,NaN
28,REPSOL,15050,111,16,1530,15190,14840,2.083.531,18.322,17:24,NaN
29,ROVI,86350,-52,-45,4344,86950,85200,33.007,4.664,17:24,NaN
30,SACYR,3344,60,2,907,3350,3246,1.209.774,2.549,17:22,NaN
31,SANTANDER,4319,-290,-13,1656,4430,4277,14.131.938,68.343,17:24,NaN
32,SOLARIA,11320,-241,-28,-3917,11610,11320,292.981,1.414,17:23,NaN
33,TELEFÓNICA,3922,-153,-6,1514,3972,3912,4.735.116,22.238,17:22,NaN
34,UNICAJA BANCO,1266,-306,-4,4870,1302,1258,3.918.855,3.361,17:23,NaN

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/style.py:3618: RuntimeWarning: All-NaN slice encountered
  smin = np.nanmin(gmap) if vmin is None else vmin
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/style.py:3619: RuntimeWarning: All-NaN slice encountered
  smax = np.nanmax(gmap) if vmax is None else vmax

Si se quieren ver todas las tablas...

In [8]:
from IPython.display import display
for i in range(len(df_list)):
    print(i)
    display(df_list[i])

,Cotización,Var. %,Var.,Vol. 3 meses (mill.),Vol. contratación (mill.)
0,"10.923,00 (17:16)","-1,21 %",-13400,NaN,NaN

  Unnamed: 0      Sesión         Año Últimos 12 m
0     Máximo  10.984,100  11.469,900   11.469,900
1     Mínimo  10.837,400   9.798,800    8.879,300

                  Datos  Datos.1
0        Capitalización  686.466
1       Rent. dividendo   3,67 %
2             Per medio     8.71
3  Revalorización anual      813

        Fecha Precio de cierre  Rent.
0  01/07/2024       11.057,000    104
1  28/06/2024       10.943,700     -7
2  27/06/2024       10.951,500    -72
3  26/06/2024       11.030,500    -80

Empty DataFrame
Columns: [Unnamed: 0, Fecha, cierre, var %]
Index: []

Empty DataFrame
Columns: [Unnamed: 0, Fecha, cierre, var %]
Index: []

,Valor,Último,Var. %,Var.,Ac. % año,Máx.,Mín.,Vol.,Capit.,Hora,Unnamed: 10
0,ACCIONA,106200,-185,-200,-2033,108000,104800,116.518,5.826,17:16,NaN
1,ACCIONA ENER,19130,-255,-50,-3024,19650,19060,243.725,6.299,17:15,NaN
2,ACERINOX,9745,-15,-2,-563,9845,9705,377.672,2.636,17:16,NaN
3,ACS,38420,-41,-16,-323,38580,37660,445.800,10.437,17:15,NaN
4,AENA,187500,-37,-70,1928,188200,185000,101.785,28.125,17:11,NaN
5,AMADEUS IT GROUP,61920,32,20,-390,61960,60860,147.278,27.895,17:16,NaN
6,ARCELORMITTAL,21140,-75,-16,-1697,21320,21060,124.351,18.557,17:11,NaN
7,BANCO SABADELL,1818,-181,-3,6685,1850,1790,5.378.166,9.890,17:15,NaN
8,BANKINTER,7608,-112,-9,3530,7718,7540,986.146,6.839,17:16,NaN
9,BBVA,9424,-80,-8,1877,9452,9266,2.869.337,54.313,17:16,NaN
10,CAIXABANK,5002,-83,-4,4598,5036,4958,2.680.969,36.355,17:15,NaN
11,CELLNEX TELECOM,30750,-13,-4,-1374,30900,30520,394.274,20.889,17:16,NaN
12,COLONIAL,5480,-27,-1,-1243,5505,5430,516.034,2.957,17:15,NaN
13,ENAGAS,12830,-176,-23,-1595,13100,12810,2.157.350,3.361,17:16,NaN
14,ENDESA,17770,-25,-5,-114,17775,17535,243.490,18.814,17:15,NaN
15,FERROVIAL,36320,-38,-14,999,36340,35800,366.180,27.073,17:16,NaN
16,FLUIDRA,19260,-47,-9,377,19300,19010,129.314,3.768,17:14,NaN
17,GRIFOLS,8004,-150,-12,-4821,8152,7950,1.790.073,3.411,17:15,NaN
18,IAG,1946,78,1,929,1972,1914,6.169.072,9.677,17:16,NaN
19,IBERDROLA,12210,-89,-11,461,12295,12175,2.744.414,78.428,17:15,NaN
20,INDITEX,45360,-118,-54,1703,45670,44630,1.007.316,141.371,17:16,NaN
21,INDRA,18900,-278,-54,3500,19480,18720,271.414,3.339,17:16,NaN
22,LOGISTA,26540,-8,-2,1406,26640,26280,85.151,3.523,17:15,NaN
23,MAPFRE,2120,-239,-5,1344,2162,2120,1.432.644,6.529,17:15,NaN
24,MELIÁ HOTELS,7610,-130,-10,2768,7685,7530,280.910,1.677,17:16,NaN
25,MERLIN PROP.,10500,48,5,665,10510,10310,300.564,4.933,17:16,NaN
26,NATURGY,20480,-97,-20,-2265,20660,20420,344.987,19.858,17:16,NaN
27,REDEIA,16100,-153,-25,1486,16400,16050,401.956,8.711,17:16,NaN
28,REPSOL,15045,107,16,1526,15190,14840,2.038.426,18.316,17:16,NaN
29,ROVI,86300,-58,-50,4336,86950,85200,32.366,4.662,17:11,NaN
30,SACYR,3342,54,2,900,3342,3246,1.176.497,2.548,17:16,NaN
31,SANTANDER,4324,-278,-12,1670,4430,4277,13.794.637,68.430,17:16,NaN
32,SOLARIA,11340,-224,-26,-3907,11610,11330,275.140,1.417,17:15,NaN
33,TELEFÓNICA,3922,-153,-6,1514,3972,3912,4.608.646,22.238,17:16,NaN
34,UNICAJA BANCO,1267,-299,-4,4881,1302,1258,3.814.470,3.364,17:16,NaN

Empty DataFrame
Columns: [Valor, Recomendación Actual (Nota Media), Recomendación Actual (Nota Media).1, Recomendación hace 1 mes, Recomendación hace 1 mes.1, Recomendación hace 2 mes, Recomendación hace 2 mes.1, Recomendación hace 3 mes, Recomendación hace 3 mes.1]
Index: []

Empty DataFrame
Columns: [Valor, PER, BPA, Rentabilidad por Dividendo, Precio/Cash Flow, Precio Valor Contable, EBITDA, Bº Neto]
Index: []

Empty DataFrame
Columns: [Valor, Recomendación Técnica a corto plazo, Primera Resistencia, Primer Soporte, Tendencia a C/P, Tendencia a M/P, Tendencia a L/P]
Index: []

Empty DataFrame
Columns: [Valor, Volatilidad anualizada a 30 sesiones, Volatilidad anualizada a 125 sesiones, Volatilidad anualizada a 250 sesiones, VAR diario a 30 sesiones, VAR diario a 250 sesiones]
Index: []

2)	Grabarla como Excel con el nombre “cotizaciones.xlsx”

In [ ]:
df.to_excel("cotizaciones.xlsx")

Había una vez....